<template>
  <div class="home">
    <form action="" class="flexColumn">
      <label for="">
        Tipo de reactivo
        <input type="text" v-model="base.tipoReactivo">
      </label>
      <label for="">
        Estatus
        <select name="" id="">
          <option value="">Activo</option>
          <option value="">Inactivo</option>
        </select>
      </label>
      <label for="">
        Autorizado
        <input type="checkbox">
      </label>
      <label for="">
        Asignatura
        <input type="text" >
      </label>
      <label for="">
        Año
        <input type="text" >
      </label>
      <label for="">
        Connsecutico
        <input type="text" >
      </label>
      <label for="">
        Programa academio
        <input type="text" >
      </label>
      <textarea name="" id="" cols="30" rows="10"></textarea>
      
    </form>
<hr>
    <form action="" class="flexColumn">
      <textarea v-model="pregunta.pregunta" name="" id="" cols="30" rows="10" placeholder="Agrega tu pregunta"></textarea>
      <label for="">
        justificación
        <textarea v-model="pregunta.justificacion" name="" id="" cols="30" rows="10"></textarea>
      </label>
      <label for="">
        respuesta
        <div>
          <input type="radio">
          <input type="text" v-model="pregunta.respuesta">
        </div>
        <div v-for="respuesta in pregunta.respuestas">
          <input type="radio">
          <input type="text" v-bind:value="respuesta">
        </div>

        <button @click="addAnswer">
          agregar respuesta
        </button>
      </label>
    </form>
<hr>
    <button @click="agregarPregunta">
      Agregar Pregunta
    </button>
    <pregunta v-for="multi in multireactivo" v-bind:key="multi.pregunta" v-bind:pregunta="multi.pregunta" v-bind:justificacion="multi.justificacion"  v-bind:respuestas="multi.respuestas"/>
  </div>
</template>

<script>
// @ is an alias to /src
import HelloWorld from '@/components/HelloWorld.vue'
import pregunta from '@/components/pregunta.vue'

export default {
  name: 'home',
  components: {
    HelloWorld, pregunta
  },
  methods: {
    agregarPregunta() {
      this.multireactivo.push({
        "pregunta":this.pregunta.pregunta,
        "justificacion": this.pregunta.justificacion,
        "respuestas": this.pregunta.respuestas
      })
      this.pregunta.pregunta = "",
      this.pregunta.justificacion = "",
      this.pregunta.respuestas = [] 
    },

    addAnswer() {
      this.pregunta.respuestas.push(this.pregunta.respuesta);
      this.pregunta.respuesta = ""
    }

  },data(){
    return {
      base: {
        "tipoReactivo": "",
        "asignatura": "",
        "estatus": false,
        "autorizado" : false,
        "ano":"",
        "consecutivo": ""
      },
      pregunta: {
          "pregunta" : "",
          "justificacion": "",
          "respuesta":"",
          "respuestas" : [],
          "ponderacion":  ""
        },
      multireactivo: []
    }
  }
}
</script>
<style lang="scss" scoped>
.flexColumn {
  display: flex;
  flex-direction: column;
}
</style>
