<template>
    <div>
        <form action="">
            <textarea v-bind:value="pregunta_comp" name="" id="" cols="30" rows="10"></textarea>
            <textarea v-bind:value="justificacion_comp" name="" id="" cols="30" rows="10"></textarea>
            <div v-for="respuesta in respuestas_comp" v-bind:key="">
                <input type="text" v-bind:value="respuesta">
            </div>
        </form>
    </div>
</template>
<script>
export default {
    props: {
        pregunta: String,
        justificacion: String,
        respuestas: Array
    },data(){
        return {
            pregunta_comp: this.pregunta,
            justificacion_comp: this.justificacion,
            respuestas_comp: this.respuestas
        }
    }
}
</script>

<style scoped>

</style>
